@charset "utf-8";

/* Common */
body { line-height: 22px; font-family: dotum, "Roboto", sans-serif; font-size: 12px; color: rgb(51, 51, 51); }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:focus, a:active { color: crimson; text-decoration: none; }

fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
h1, h1 a { font-family: "Roboto", sans-serif; }
h2, h2 a { font-family: "Roboto", sans-serif; }
h3, h3 a { font-family: "Roboto", sans-serif; }
h4, h4 a { font-family: "Roboto", sans-serif; }
h5, h5 a { font-family: "Roboto", sans-serif; }
blockquote { font-size: 12px; margin:0px 0px 20px; }

/* Font */
.en { font-family: "Roboto", sans-serif; }
.ko { font-family:dotum, sans-serif; font-size: 12px; line-height: 22px; }
.ko small { font-family:dotum, sans-serif; }
.ko.mobile-font, .en.mobile-font { font-size: 14px; }
.sns-share-icon img { width:20%; max-width:34px; border-radius:50%; }

/* Thema Common */
.wrapper { position:relative; overflow:hidden; margin:0 auto; }

.aside-menu-in .wrapper { }
.at-content { position:relative; background: #fafafa;  padding: 20px 0px; overflow:hidden; }
.at-content .div-panel .panel,
.at-content .div-panel .list-group-item,
.at-content .div-tab .tab-content,
.at-content .div-tab .tbox-head  { background: none !important; }
.at-animate { animation-duration: 0.3s; -webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; -o-animation-duration: 0.3s; }

/* Sidebar */
.at-sidebar { top: 0px; width: 280px; height: 100%; right: 0px; display: none; position: fixed; z-index:99999; background: rgb(34, 34, 34); border-left-color: rgb(51, 51, 51); border-left-width: 1px; border-left-style: solid; color: rgb(136, 136, 136); margin-left:40px; }
.at-sidebar label { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
.at-sidebar .close-box { position:absolute; top:0; left:0; margin-left:-35px; margin-top:65px; background: rgb(34, 34, 34); color: rgb(255, 255, 255); text-align:center; width:36px; height:36px; z-index:999999; line-height:36px; border:1px solid rgb(51, 51, 51); border-right:0px; -webkit-backface-visibility: hidden; cursor:pointer; }
.at-sidebar .close-box i { font-size: 16px; font-weight: 300 !important; }
.at-sidebar .sidebar-wrap { overflow:auto; height:100%; }
.at-sidebar .sidebar-title { margin: 0px; padding: 8px 20px; color: rgb(97, 97, 97); text-transform: uppercase; overflow: hidden; font-size: 11px; position: relative;  }
.at-sidebar .sidebar-title::after { background: rgb(51, 51, 51); left: 15px; top: 26px; width: 80px; height: 1px; position: absolute; content: "";  }
.at-sidebar .sidebar-box { padding: 20px; }
.at-sidebar .sidebar-box h5 { font-size: 12px; }
.at-sidebar .sidebar-nav { margin-bottom:20px; }
.at-sidebar .sidebar-nav > ul { list-style: none; margin: 0px; padding: 0px; }
.at-sidebar .sidebar-nav > ul > li { border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid; }
.at-sidebar .sidebar-nav > ul > li > a { padding: 6px 20px; color: rgb(176, 176, 176); display: block; }
.at-sidebar .sidebar-nav > ul > li > a:hover { background: rgb(41, 41, 41); color: rgb(255, 255, 255); text-decoration: none; }
.at-sidebar .sidebar-nav > ul > li > a > i { margin-right: 5px; }
.at-sidebar .profile-box { padding: 20px 20px 0px; }
.at-sidebar .profile { height:95px; }
.at-sidebar .profile h3 { color: rgb(255, 255, 255); font-size:20px; line-height:30px; padding:8px 0px; margin:0px; letter-spacing:-1px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.at-sidebar .profile p { color: rgb(138, 138, 138); padding:0px; margin:0px; }
.at-sidebar .badge { font-weight:normal; }
.at-sidebar .profile-photo { width:80px; height:80px; margin:0px; margin-right:15px; border-radius: 50%; border:4px solid #000; -webkit-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); }
.at-sidebar .profile-photo img { width:100%; height:100%; border-radius: 50%; }
.at-sidebar .profile-photo i { width:100%; height:100%; font-size:40px; line-height:72px; text-align:center; color:#666;}
.at-sidebar .btn-admin { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.at-sidebar .btn-admin:hover, .sidebar .btn-admin:focus, .sidebar .btn-admin:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.at-sidebar .btn-upload { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(233, 27, 35); background-image: none; }
.at-sidebar .btn-upload:hover, .sidebar .btn-upload:focus, .sidebar .btn-upload:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.at-sidebar .btn-logout { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.at-sidebar .btn-logout:hover, .sidebar .btn-logout:focus, .sidebar .btn-logout:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }

/* LNB */
.at-lnb { background: rgb(255, 255, 255); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb ul.menu > li > a { letter-spacing:-1px; font-size:11px }
.at-lnb .at-lnb-icon { float: left; }
.at-lnb .at-lnb-icon > ul.menu { list-style: none; margin: 0px; padding: 0px; }
.at-lnb .at-lnb-icon > ul.menu > li { border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block; position: relative; }
.at-lnb .at-lnb-icon > ul.menu > li:last-child { border: 0px currentColor; border-image: none; }
.at-lnb .at-lnb-icon > ul.menu > li > a { padding: 6px 15px; color: rgb(51, 51, 51); display: block; }

.at-lnb-dark.at-lnb { background: rgb(2, 2, 2); border-bottom-color: rgb(34, 34, 34); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb-dark.at-lnb .at-lnb-icon > ul.menu > li { border-color: rgb(34, 34, 34); }
.at-lnb-dark.at-lnb .at-lnb-icon > ul.menu > li > a { color: rgb(255, 255, 255); }
.at-lnb-dark.at-lnb .at-lnb-menu > ul.menu > li { border-color: rgb(34, 34, 34); }
.at-lnb-dark.at-lnb .at-lnb-menu > ul.menu > li > a { color: rgb(255, 255, 255); }

.at-lnb-gray.at-lnb { background: rgb(248, 248, 248); border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb-gray.at-lnb .at-lnb-icon > ul.menu > li { border-color: rgb(228, 228, 228); }
.at-lnb-gray.at-lnb .at-lnb-icon > ul.menu > li > a { color: rgb(51, 51, 51); }
.at-lnb-gray.at-lnb .at-lnb-menu > ul.menu > li { border-color: rgb(228, 228, 228); }
.at-lnb-gray.at-lnb .at-lnb-menu > ul.menu > li > a { color: rgb(51, 51, 51); }

.at-lnb .at-lnb-menu { float: right; }
.at-lnb .at-lnb-menu i { margin-right:6px; }
.at-lnb .at-lnb-menu > ul.menu { list-style: none; margin: 0px; padding: 0px; }
.at-lnb .at-lnb-menu > ul.menu > li { border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block; position: relative; }
.at-lnb .at-lnb-menu > ul.menu > li:last-child { border: 0px currentColor; border-image: none; }
.at-lnb .at-lnb-menu > ul.menu > li > a { padding: 6px 15px; color: rgb(51, 51, 51); display: block; }

/* Header */
.at-header { padding:15px 0px 8px; background: rgb(255, 255, 255); }
.at-header .header-logo { padding:0px 20px; }
.at-header .header-logo a { font-size:42px; line-height:40px; font-family:'Georgia', sans-serif; font-weight:bold; letter-spacing:0px; color:#000; -webkit-font-smoothing: antialiased; }
.at-header .header-logo a:hover { color:#000; }
.at-header .header-desc { font-size:11px; font-weight:normal; letter-spacing:-1px; color:#888; }
.at-header .header-search { display:block; max-width:260px; }
.at-header .header-search form { padding:0px; margin:0px 0px 4px; border:4px solid #111; background: #111; }
.at-header .header-search input { background: rgb(255, 255, 255); border-color:#222; }

/* Menu */
.navbar { min-height:40px; }
.navbar-fixed { left: 0px; width: 100%; }
.navbar-fixed .navbar { width: 100%; }

.at-navbar {
	margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; border-image: none; z-index: 1000; background: rgb(38, 38, 38); border-bottom:0px solid rgb(221, 221, 221);
	box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15); -webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	border-top:1px solid rgb(0, 0, 0);	
}
.at-navbar .navbar-collapse { border-color: rgb(231, 231, 231); padding:0px; }
.at-navbar .navbar-nav  { padding:0px; margin-top:0px; }
.at-navbar .navbar-nav .old { display: none; }
.at-navbar .navbar-nav .sub-old { display: none; }
.at-navbar .navbar-nav .new { color: rgb(233, 75, 59); margin-left:6px; }
.at-navbar .navbar-nav .sub-on a { font-weight:bold; }
.at-navbar .navbar-nav .sub-off a { font-weight:normal; }
.at-navbar .navbar-nav .sub-new { color: rgb(233, 75, 59); margin-left:6px; }
.at-navbar .navbar-nav .sub-caret { margin-top:2px; }

.at-navbar .navbar-nav > li { border-right:1px solid rgb(0, 0, 0); }
.at-navbar .navbar-nav > li:first-child { border-left:1px solid rgb(0, 0, 0); }
.at-navbar .navbar-nav > li > a { color: rgb(255, 255, 255); padding: 10px 22px; font-weight: bold; margin-right: 0px; border-bottom:4px solid rgb(0, 0, 0); }
.at-navbar .navbar-nav > li > a:hover { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }
.at-navbar .navbar-nav > li > a:focus { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }

.at-navbar .navbar-nav > .active > a { border-radius: 0px; color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }
.at-navbar .navbar-nav > .active > a:hover { border-radius: 0px; color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }
.at-navbar .navbar-nav > .active > a:focus { border-radius: 0px; color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }

.at-navbar .navbar-nav > .open > a { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }
.at-navbar .navbar-nav > .open > a:hover { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }
.at-navbar .navbar-nav > .open > a:focus { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); }

.at-navbar .navbar-toggle-box { display:none; } 
.at-navbar .navbar-toggle { float:none; margin:0px; padding:4px 8px; font-size:14px; }

.at-navbar .dropdown-menu { padding:0px; background: rgb(255, 255, 255); border: 0px; border-radius: 0px; }
.at-navbar .dropdown-menu.pc-menu { font-size:12px !important; }
.at-navbar .dropdown-menu ul { border:0px; padding:0px; margin:0px; list-style:none; border-radius: 0px; min-width: 200px; }
.at-navbar .dropdown-menu ul > li { padding:0px; margin:0px; border-bottom:1px solid rgb(238, 238, 238); }
.at-navbar .dropdown-menu ul > li > a { display:block; padding: 7px 16px; color: rgb(51, 51, 51); line-height:18px; }
.at-navbar .dropdown-menu ul > li:hover { background: rgb(233, 27, 35); color: rgb(255, 255, 255); border-bottom:1px solid rgb(233, 27, 35); }
.at-navbar .dropdown-menu ul > li:hover > a { color: rgb(255, 255, 255); }

.at-navbar .dropdown-submenu { position: relative; }
.at-navbar .dropdown-submenu > .dropdown-menu { left: 100%; top: -10px; margin-top: 0px; margin-left: -10px; }

.at-navbar .navbar-nav li.line,
.at-navbar .navbar-nav li.line:hover { background:#f5f5f5; border-bottom:1px solid rgb(238, 238, 238); }
.at-navbar .navbar-nav li.line > a,
.at-navbar .navbar-nav li.line:hover > a { color: rgb(0, 0, 0); font-weight:bold; }

.at-navbar .navbar-nav li.line-sub,
.at-navbar .navbar-nav li.line-sub:hover { background:#f5f5f5; border-bottom:1px solid rgb(238, 238, 238); }
.at-navbar .navbar-nav li.line-sub > a,
.at-navbar .navbar-nav li.line-sub:hover > a { color: rgb(0, 0, 0); font-weight:bold; }

.at-navbar.navbar-contrasted .navbar-nav > li > a:hover { color: rgb(255, 255, 255); background: rgb(44, 44, 44); }
.at-navbar.navbar-contrasted .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background: rgb(44, 44, 44); }
.at-navbar.navbar-contrasted .navbar-nav > .open > a { color: rgb(255, 255, 255); background: rgb(44, 44, 44); }
.at-navbar.navbar-contrasted .navbar-nav > .open > a:hover { color: rgb(255, 255, 255); background: rgb(44, 44, 44); }
.at-navbar.navbar-contrasted .navbar-nav > .open > a:focus { color: rgb(255, 255, 255); background: rgb(44, 44, 44); }

.at-navbar.navbar-contrasted .dropdown-menu { background: rgb(44, 44, 44); border: 0px; border-radius: 0px; }
.at-navbar.navbar-contrasted .dropdown-menu ul > li { border-bottom:1px solid rgb(34, 34, 34); }
.at-navbar.navbar-contrasted .dropdown-menu ul > li > a { color: rgb(255, 255, 255); }
.at-navbar.navbar-contrasted .dropdown-menu ul > li:hover { background: rgb(55, 55, 55); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu { background: rgb(38, 38, 38); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu ul > li { border-bottom:1px solid rgb(28, 28, 28); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu ul > li:hover { background: rgb(14, 14, 14); }

.at-navbar.navbar-contrasted .navbar-nav li.line,
.at-navbar.navbar-contrasted .navbar-nav li.line:hover { background: rgb(34, 34, 34); border-bottom:1px solid rgb(34, 34, 34); }
.at-navbar.navbar-contrasted .navbar-nav li.line > a,
.at-navbar.navbar-contrasted .navbar-nav li.line:hover > a { color: rgb(255, 255, 255); font-weight:bold; }

.at-navbar.navbar-contrasted .navbar-nav li.line-sub,
.at-navbar.navbar-contrasted .navbar-nav li.line-sub:hover { background: rgb(14, 14, 14); border-bottom:1px solid rgb(34, 34, 34); }
.at-navbar.navbar-contrasted .navbar-nav li.line-sub > a,
.at-navbar.navbar-contrasted .navbar-nav li.line-sub:hover > a { color: rgb(255, 255, 255); font-weight:bold; }

.at-navbar .navbar-menu-right { margin-top:6px; }
.at-navbar .navbar-menu-right .btn { padding:4px 8px; }
.at-navbar .navbar-menu-bar { height:1px; border-top:4px solid rgb(0, 0, 0); margin-top:-4px; }

@media all and (max-width:767px) {
	.responsive .at-navbar .navbar-collapse { background: #111; border:0px; border-top:1px solid #000; border-right:1px solid #000; padding:0px 15px 50px; position:fixed; width:280px; top:0; left:0; z-index:99999; height:100% !important; max-height:100% !important; overflow:hidden; }
	.responsive .at-navbar .navbar-nav { background: #111; height:100%; overflow:auto; overflow-x:hidden;}
	.responsive .at-navbar .navbar-nav li { border-right:0px; }
	.responsive .at-navbar .navbar-nav > li { background:#333;  border:0;}
	.responsive .at-navbar .navbar-nav > li:hover { background: rgb(0, 0, 0); }
	.responsive .at-navbar .navbar-nav > li > a { background:#222; color: rgb(255, 255, 255);  padding-left:30px !important; padding-top:12px !important; padding-bottom:12px !important; font-weight: bold; margin-right: 0px; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > li > a:hover { color: rgb(255, 255, 255); background: none; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background: none; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .active > a { border-radius: 0px; color: rgb(255, 255, 255); background: rgb(233, 27, 35) !important; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .active > a:hover { border-radius: 0px; color: rgb(255, 255, 255); background: rgb(233, 27, 35) !important; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .active > a:focus { border-radius: 0px; color: rgb(255, 255, 255); background: rgb(233, 27, 35) !important; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .open > a { color: rgb(255, 255, 255); background: none; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .open > a:hover { color: rgb(255, 255, 255); background: none; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav > .open > a:focus { color: rgb(255, 255, 255); background: none; border-bottom:1px solid #111; }
	.responsive .at-navbar .navbar-nav { margin-bottom:0px; }
	.responsive .at-navbar .navbar-nav .sub-on a { font-weight:bold; background:none !important; }

	.responsive .at-navbar .dropdown-menu { border:0 !important; background: rgb(55, 55, 55); }
	.responsive .at-navbar .dropdown-menu ul.pull-left { float:none !important; }
	.responsive .at-navbar .dropdown-menu ul > li { background: rgb(55, 55, 55); border-bottom:1px solid #111; }
	.responsive .at-navbar .dropdown-menu ul > li > a { padding-left:42px !important; padding-top:12px !important; padding-bottom:12px !important; color: rgb(255, 255, 255); }
	.responsive .at-navbar .dropdown-menu ul > li:hover { background: rgb(44, 44, 44); border-bottom:1px solid #111; }
	.responsive .at-navbar .dropdown-menu ul > li:hover > a { color: rgb(255, 255, 255); }

	.responsive .at-navbar .dropdown-menu.dropdown-menu-head { border-bottom-color: #111; border-bottom-width: 1px; border-bottom-style: solid; }
	.responsive .at-navbar .dropdown-menu.dropdown-menu-sub > li { border-bottom-color: rgb(44, 44, 44); border-bottom-width: 1px; border-bottom-style: solid; background: rgb(55, 55, 55); }
	.responsive .at-navbar .dropdown-menu.dropdown-menu-sub > li > a { padding-left:40px; color:#fff; }

	.responsive .at-navbar .navbar-nav li.line,
	.responsive .at-navbar .navbar-nav li.line:hover { background:#222; border:0; }
	.responsive .at-navbar .navbar-nav li.line > a,
	.responsive .at-navbar .navbar-nav li.line:hover > a { color: rgb(255, 255, 255); font-weight:bold; }

	.responsive .at-navbar .navbar-menu-bar {  margin-top:0px; }
	.responsive .at-navbar .navbar-toggle-box { display:block; margin:10px 15px; }
}

/* Footer */
.at-footer { background:#222; border-top:1px solid #000; border-bottom:1px solid #000; }
.at-footer .at-map { display:block; border-bottom:1px solid #000; background-color:#333; }
.at-footer .at-map ul { list-style:none; padding:0px; margin:0px; }
.at-footer .at-map ul li { float:left; display:inline-block; text-align:center; border-right:1px solid #000; background:#2d2d2d; color:#999; }
.at-footer .at-map ul li:first-child { border-left:1px solid #000; }
.at-footer .at-map ul li:last-child { border-left:1px solid #000; }
.at-footer .at-map ul li a { display:inline-block; color:#999; line-height:39px; height:39px; padding:0px 15px; }
.at-footer .at-map ul li a:hover { color:#fff; }
.at-footer .at-map ul li span { font-size:11px; letter-spacing:-1px; }

.at-footer .at-copyright { background-color:#222; letter-spacing:0; }
.at-footer .footer-logo { margin-right:20px;  }
.at-footer .media { border-left:1px solid #000; border-right:1px solid #000; padding:15px 15px 10px; }
.boxed .at-footer .media { border-left:0px; border-right:0px; }
.at-footer .media-body ul { list-style:none; padding:0px; margin:0px; font-size:11px; letter-spacing:-1px; line-height: 22px; }
.at-footer .media-body ul li { float:left; padding:0px; margin:0px; padding-right:30px; color:#999; font-size:11px; letter-spacing:-1px; line-height: 22px; }
.at-footer .media-body ul li a { color:#999; text-decoration:none; }
.at-footer .media-body ul li a:hover { color:#fff; }
.at-footer .media-body ul li span { letter-spacing:0; }

/* Go-Top */
#toTop { background: rgb(85, 85, 85); border-radius: 3px; border: currentColor; border-image: none; width: 40px; height: 40px; right: 20px; bottom: 10px; text-indent: 100%; overflow: hidden; text-decoration: none; display: none; position: fixed; }
#toTopHover {	background: rgb(55, 55, 55); width: 40px; height: 40px; overflow: hidden; float: left; display: block; opacity: 0; -moz-opacity: 0; }
#toTop:active { }
#toTop:focus { }
#toTop::before { left: 50%; top: 50%; width: 20px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; text-indent: 0px; font-family: "FontAwesome"; font-size: 20px; margin-top: -10px; margin-left: -10px; position: absolute; content: "\f106"; }

/* Page Title */
.page-title { position:relative; background-color: #f5f5f5; border-bottom:1px solid #ddd; }
.page-title h2 { color: rgb(0, 0, 0); margin: 0px; padding: 24px 0px; font-size: 22px; float:left; }
.page-title h2 a span { color: rgb(0, 0, 0); }
.page-title .breadcrumb { background: none; margin: 0px; padding:0px; padding-top: 26px; border-radius: 0px; float: right; }
.page-title .breadcrumb .active { color: #888; font-size:11px; }
.page-header { margin: 0px; border: 0px currentColor; border-image: none; }
.page-header p { font-size: 16px; }

/* Site Size Responsive */
.no-responsive .wrapper { min-width:1200px; }
.no-responsive .boxed.wrapper { width:1200px; }
.no-responsive .container { width:1170px; }
.no-responsive .boxed .navbar-fixed .navbar { width: 1200px; }

@media all and (min-width:1200px) {
	.responsive .boxed.wrapper { margin: auto; width: 1200px; }
	.responsive .boxed .navbar-fixed .navbar { max-width: 1200px; }
}

@media all and (max-width:1199px) and (min-width:768px) {

}

@media (max-width: 992px) {
	.responsive .at-footer .at-map ul { border-left:1px solid #000; border-right:1px solid #000; }
	.responsive .at-footer .at-map ul li { display:block; width:50%; text-align:left; border:1px solid #000; border-bottom:0px; margin-top:-1px; margin-left:-1px; }
	.responsive .at-footer .at-map ul li span { font-size:13px; letter-spacing:0px; }
	.responsive .at-footer .at-map .pull-right { float:left !important; }
	.responsive .at-footer .media { border-left:0px; border-right:0px; }
}

@media all and (max-width:767px) {
	.responsive .at-header .pull-left { float: none !important; }
	.responsive .at-header .header-container { padding-left:0px !important; }
	.responsive .at-header .header-desc { display:none !important; }
	.responsive .at-header .header-search { margin:0px auto; text-align:center; }
	.responsive .at-header form { display:none !important; }

	.responsive .at-footer .at-map ul { border-left:1px solid #000; border-right:1px solid #000; }
	.responsive .at-footer .at-map ul li { display:block; width:50%; text-align:left; border:1px solid #000; border-bottom:0px; margin-top:-1px; margin-left:-1px; }
	.responsive .at-footer .at-map ul li span { font-size:13px; letter-spacing:0px; }
	.responsive .at-footer .at-map .pull-right { float:left !important; }
	.responsive .at-footer .media { border-left:0px; border-right:0px; }
	.responsive .at-footer .media-body ul { font-size:13px; letter-spacing:0px; }

	.responsive .pull-right.contentArea.pull-right { float:none !important; }
	.responsive .pull-left.sideArea { float:none !important; }

	.responsive .navbar-menu i { display:block; }
	.responsive .at-box { text-align: center; }
	.responsive .at-box .pull-right { float: none !important; }
}

@media all and (max-width:460px) {
	.responsive .at-header .pull-left { float: none !important; }
	.responsive .at-header .header-desc { display:none !important; }
	.responsive .at-header .header-search { margin:0px auto; text-align:center; }
	.responsive .at-header form { display:none !important; }

	.responsive .at-footer .at-map ul { border-left:0px; border-right:0px; }
	.responsive .at-footer .at-map ul li { float:none !important; display:block; width:100%; text-align:left; border:1px solid #000; border-bottom:0px; margin-top:-1px; margin-left:0px; }
	.responsive .at-footer .media-body ul li { float:none !important; padding:0px; }
	.responsive .at-footer .footer-logo { display:none; }
}

/* Bootstrap3 ----------------------------------------------------------------------------------- */

/* Button */
.btn { font-family: "Roboto", sans-serif; border-radius: 2px; border: 1px solid transparent; font-weight: normal; vertical-align: middle; white-space: nowrap; cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }

/* Tabs */
.tabs { margin-bottom: 0px; }
.tabs::before { display: table; content: " "; }
.tabs::after { display: table; content: " "; }
.tabs::after { clear: both; }
.tabs div.tab-content { border-width: 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); padding: 15px; border-radius: 0px; border-image: none; box-shadow: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0; -moz-box-shadow: none; -moz-border-radius: none; -webkit-border-radius: 0; }
.tabs div.tab-content-inverse.tab-content { background: none; border: 1px solid rgb(238, 238, 238); border-image: none; }
.tabs ul.nav-tabs { margin: 0px; }
.tabs ul.nav-tabs li.active a { background: rgb(255, 255, 255); color: rgb(204, 204, 204); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; }
.tabs ul.nav-tabs a { background: rgb(247, 247, 247); border-radius: 0px; border: 0px currentColor; border-image: none; color: rgb(51, 51, 51); margin-right: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; }
.tabs ul.nav-tabs a:hover { color: rgb(233, 27, 35); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; }
.tabs ul.nav-tabs a:active { border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; }
.tabs ul.nav-tabs a:focus { border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; }
.tabs ul.nav-tabs a { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) currentColor rgb(238, 238, 238) rgb(238, 238, 238); border-image: none; font-size: 1em; }
.tabs ul.nav-tabs a:hover { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) currentColor rgb(238, 238, 238) rgb(238, 238, 238); border-image: none; font-size: 1em; }
.tabs ul.nav-tabs a:last-child {	border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; }
.tabs ul.nav-tabs a:last-child:hover { border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; }
.tabs-centered { margin: 0px auto; width: 100%; display: table; }
.tabs-centered ul li { width: 100px; float: none; display: inline-block; }

/* Nav-Pills */
.nav-pills { border: 1px solid rgb(238, 238, 238); border-image: none; margin-bottom: 15px; }
.nav-pills > li > a { border-radius: 0px; border-right-color: rgb(224, 237, 237); border-right-width: 1px; border-right-style: solid; }
.nav-pills > li:last-child > a { border-radius: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; }
.nav-pills > li > a:hover { background: rgb(245, 245, 245); }
.nav-pills > li > a:focus { background: rgb(245, 245, 245); }
.nav-pills > li + li { margin-left: 2px; }
.nav-pills > li.active > a { background: none; color: rgb(55, 55, 55); }
.nav-pills > li.active > a:hover { background: none; color: rgb(55, 55, 55); }
.nav-pills > li.active > a:focus { background: none; color: rgb(55, 55, 55); }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group { margin-bottom: 30px; }
.panel-group .panel { border-radius: 0px; }
.panel-group .panel + .panel { margin-top: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.panel-group .panel-heading { padding: 12px 15px; position: relative; }
.panel-group .panel-heading a { color: rgb(51, 51, 51); }
.panel-group .panel-heading a i { color: rgb(55, 55, 55); margin-right: 5px; }
.panel .panel-heading { border-radius: 0px; }
.panel .panel-body { font-size:14px; }
.ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Table */
.table > thead > tr > th { vertical-align: middle; }
.table > tbody > tr > th { vertical-align: middle; }
.table > tfoot > tr > th { vertical-align: middle; }
.table > thead > tr > td { vertical-align: middle; }
.table > tbody > tr > td { vertical-align: middle; }
.table > tfoot > tr > td { vertical-align: middle; }
.table-no-border.table > thead > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tbody > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tfoot > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > thead > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tbody > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tfoot > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table > thead > tr > th { border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; }
.table > thead > tr { background: rgb(243, 243, 243); }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Roboto", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Roboto", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .btn, .alert, .input-group-addon, .label { border-radius:0 !important; }
